

.footer-menu {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: rgb(218, 208, 208);
}
.footer-container {
  background-color: #191919;
  padding: 50px;
  color: rgb(216, 209, 209);
}
